<header>
  <div class="container">
    <div class="header-data">
      <div class="logo">
        <a [routerLink]="['/Home']" title="" class="h3 text-white">Jobs </a>
      </div>
      <!--logo end-->
      <!--search-bar end-->
      <nav>
        <ul>
          <li *ngIf="localStorageData.contratista">
            <a [routerLink]="['/Home']" title="">
              <span><img src="images/icon1.png" alt="" /></span>
              Inicio
            </a>
          </li>

          <li *ngIf="!localStorageData.contratista">
            <a [routerLink]="['/Jobs']" title="">
              <span><img src="images/icon1.png" alt="" /></span>
              Inicio
            </a>
          </li>

          <li>
            <a [routerLink]="['/Companies']" title="">
              <span><img src="images/icon2.png" alt="" /></span>
              Compañias
            </a>
          </li>
          <li>
            <a [routerLink]="['/Users']" title="">
              <span><img src="images/icon4.png" alt="" /></span>
              Perfiles
            </a>
          </li>
        </ul>
      </nav>
      <!--nav end-->
      <div class="menu-btn">
        <a href="#" title=""><i class="fa fa-bars"></i></a>
      </div>
      <!--menu-btn end-->
      <div class="user-account">
        <div class="user-info">
          <!-- <img src="http://via.placeholder.com/30x30" alt="" /> -->
          <a title="">{{ localStorageData.username }}</a>
          <i class="la la-sort-down" (click)="toggleOptions()"></i>
        </div>
        <div class="user-account-settingss" #options>
          <!--search_form end-->
          <h3>Ajustes</h3>
          <ul class="us-links">
            <li>
              <a [routerLink]="['/MyFeed/' + localStorageData.id]" title=""
                >Perfil</a
              >
            </li>
            <li>
              <a href="profile-account-setting.html" title=""
                >Ajuste de la Cuenta</a
              >
            </li>
          </ul>
          <h3 class="tc">
            <a title="" (click)="cerrarSesion()">Cerrar Sesion</a>
          </h3>
        </div>
        <!--user-account-settingss end-->
      </div>
    </div>
    <!--header-data end-->
  </div>
</header>
<!--header end-->
