<form>
  <div class="row">
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="text" name="name" placeholder="Nombre Completo" />
        <i class="la la-user"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="text" name="name" placeholder="Nombre de Usuario" />
        <i class="la la-user"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="text" name="country" placeholder="pais" />
        <i class="la la-globe"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <textarea
          class="form-control"
          name="info"
          placeholder="Informacion"
        ></textarea>
      </div>
    </div>

    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input type="password" name="password" placeholder="Contraseña" />
        <i class="la la-lock"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <div class="sn-field">
        <input
          type="password"
          name="repeat-password"
          placeholder="Repetir Contraseña"
        />
        <i class="la la-lock"></i>
      </div>
    </div>
    <div class="col-lg-12 no-pdd">
      <button type="submit" value="submit">Registrarse</button>
    </div>
  </div>
</form>
