<div class="wrapper">
  <app-header />

  <section class="companies-info">
    <div class="container">
      <div class="company-title">
        <h3>All Companies</h3>
      </div>
      <!--company-title end-->
      <div class="companies-list">
        <div class="row">
          <div
            class="col-lg-3 col-md-4 col-sm-6 col-12"
            *ngFor="let user of users"
          >
            <div class="company_profile_info">
              <div class="company-up-info">
                <img
                  src="{{
                    user.imagen_perfil.url || 'http://via.placeholder.com/91x91'
                  }}"
                  alt=""
                />
                <h3>{{ user.nombre_usuario }}</h3>
                <h4>Graphic Designer</h4>
                <!-- <ul>
                  <li><a href="#" title="" class="follow">Follow</a></li>
                  <li>
                    <a href="#" title="" class="message-us"
                      ><i class="fa fa-envelope"></i
                    ></a>
                  </li>
                  <li><a href="#" title="" class="hire-us">Hire</a></li>
                </ul> -->
              </div>
              <a
                [routerLink]="['/Profile/' + user.id]"
                title=""
                class="view-more-pro"
                >Ver Perfil</a
              >
            </div>
            <!--company_profile_info end-->
          </div>
        </div>
      </div>
      <!--companies-list end-->
      <!-- <div class="process-comm">
        <div class="spinner">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
      </div> -->
    </div>
  </section>
</div>
