<div class="wrapper">
  <app-header />

  <section class="cover-sec">
    <img
      src="{{ user.imagen_portada || 'http://via.placeholder.com/1600x400' }}"
      alt=""
    />
  </section>

  <main>
    <div class="main-section">
      <div class="container">
        <div class="main-section-data">
          <div class="row">
            <div class="col-lg-3">
              <div class="main-left-sidebar">
                <div class="user_profile">
                  <div class="user-pro-img">
                    <img
                      src="{{
                        user.imagen_perfil ||
                          'http://via.placeholder.com/170x170'
                      }}"
                      alt=""
                    />
                  </div>
                  <!--user-pro-img end-->
                  <div class="user_pro_status">
                    <ul class="flw-hr">
                      <li>
                        <a href="#" title="" class="flww"
                          ><i class="la la-plus"></i> Follow</a
                        >
                      </li>
                    </ul>
                    <ul class="flw-status">
                      <li>
                        <span>Seguidos</span>
                        <b>{{ user.seguidos }}</b>
                      </li>
                      <li>
                        <span>Seguidores</span>
                        <b>{{ user.seguidores }}</b>
                      </li>
                    </ul>
                  </div>
                  <!--user_pro_status end-->
                </div>
                <!--user_profile end-->

                <!--suggestions end-->
              </div>
              <!--main-left-sidebar end-->
            </div>
            <div class="col-lg-6">
              <div class="main-ws-sec">
                <div class="user-tab-sec">
                  <h3 *ngIf="localStorageData.contratista">
                    {{ user["nombre_compañia"] }}
                  </h3>
                  <h3 *ngIf="!localStorageData.contratista">
                    {{ user["nombre_usuario"] }}
                  </h3>
                  <!--star-descp end-->
                  <div class="tab-feed st2">
                    <ul>
                      <li data-tab="feed-dd" class="active">
                        <a href="#" title="">
                          <img src="images/ic1.png" alt="" />
                          <span>Feed</span>
                        </a>
                      </li>
                      <li data-tab="info-dd">
                        <a href="#" title="">
                          <img src="images/ic2.png" alt="" />
                          <span>Info</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- tab-feed end-->
                </div>
                <!--user-tab-sec end-->
                <div
                  class="product-feed-tab current"
                  id="feed-dd"
                  *ngIf="localStorageData.contratista"
                >
                  <div class="posts-section">
                    <div
                      *ngFor="let companies of user.trabajos"
                      class="post-bar"
                    >
                      <div class="post_topbar">
                        <div class="usy-dt">
                          <img src="http://via.placeholder.com/50x50" alt="" />
                          <div class="usy-name">
                            <h3>{{ user["nombre_compañia"] }}</h3>
                            <span
                              ><img src="images/clock.png" alt="" />3 min
                              ago</span
                            >
                          </div>
                        </div>
                        <div class="ed-opts">
                          <a href="#" title="" class="ed-opts-open"
                            ><i class="la la-ellipsis-v"></i
                          ></a>
                          <ul class="ed-options">
                            <li><a href="#" title="">Edit Post</a></li>
                            <li><a href="#" title="">Delete Post</a></li>
                          </ul>
                        </div>
                      </div>
                      <div class="epi-sec">
                        <ul class="descp">
                          <li>
                            <img src="images/icon9.png" alt="" /><span>{{
                              user.pais
                            }}</span>
                          </li>
                        </ul>
                        <ul class="bk-links">
                          <li>
                            <a href="#" title=""
                              ><i class="la la-bookmark"></i
                            ></a>
                          </li>
                          <!-- <li>
                        <a href="#" title=""><i class="la la-envelope"></i></a>
                      </li> -->
                        </ul>
                      </div>
                      <div class="job_descp">
                        <h3>{{ companies.titulo }}</h3>
                        <ul class="job-dt">
                          <li>
                            <a href="#" title=""
                              >Tiempo: {{ companies.tiempo }}</a
                            >
                          </li>
                          <li>
                            <span>${{ companies.salario }} / mes</span>
                          </li>
                        </ul>
                        <p>
                          {{ companies.descripcion }}
                        </p>
                        <ul class="skill-tags">
                          <li>
                            <a href="#" title="">{{ companies.habilidades }}</a>
                          </li>
                        </ul>
                      </div>
                      <div class="job-status-bar">
                        <ul class="like-com">
                          <li>
                            <a href="#"><i class="la la-heart"></i> Like</a>
                            <img src="images/liked-img.png" alt="" />
                            <span>25</span>
                          </li>
                          <li>
                            <a href="#" title="" class="com"
                              ><img src="images/com.png" alt="" /> Comment 15</a
                            >
                          </li>
                        </ul>
                        <a><i class="la la-eye"></i>Views 50</a>
                      </div>
                    </div>
                    <!--post-bar end-->
                    <!--post-bar end-->
                    <div class="process-comm">
                      <div class="spinner">
                        <div class="bounce1"></div>
                        <div class="bounce2"></div>
                        <div class="bounce3"></div>
                      </div>
                    </div>
                    <!--process-comm end-->
                  </div>
                  <!--posts-section end-->
                </div>
                <!--product-feed-tab end-->
                <div class="product-feed-tab" id="info-dd">
                  <div class="user-profile-ov">
                    <h3>
                      <a href="#" title="" class="overview-open">Overview</a>
                      <a href="#" title="" class="overview-open"
                        ><i class="fa fa-pencil"></i
                      ></a>
                    </h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque tempor aliquam felis, nec condimentum ipsum
                      commodo id. Vivamus sit amet augue nec urna efficitur
                      tincidunt. Vivamus consectetur aliquam lectus commodo
                      viverra. Nunc eu augue nec arcu efficitur faucibus.
                      Aliquam accumsan ac magna convallis bibendum. Quisque
                      laoreet augue eget augue fermentum scelerisque. Vivamus
                      dignissim mollis est dictum blandit. Nam porta auctor
                      neque sed congue. Nullam rutrum eget ex at maximus. Lorem
                      ipsum dolor sit amet, consectetur adipiscing elit. Donec
                      eget vestibulum lorem.
                    </p>
                  </div>
                  <!--user-profile-ov end-->
                  <div class="user-profile-ov st2">
                    <h3>
                      <a href="#" title="" class="exp-bx-open">Experience </a
                      ><a href="#" title="" class="exp-bx-open"
                        ><i class="fa fa-pencil"></i
                      ></a>
                      <a href="#" title="" class="exp-bx-open"
                        ><i class="fa fa-plus-square"></i
                      ></a>
                    </h3>
                    <h4>
                      Web designer
                      <a href="#" title=""><i class="fa fa-pencil"></i></a>
                    </h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque tempor aliquam felis, nec condimentum ipsum
                      commodo id. Vivamus sit amet augue nec urna efficitur
                      tincidunt. Vivamus consectetur aliquam lectus commodo
                      viverra.
                    </p>
                    <h4>
                      UI / UX Designer
                      <a href="#" title=""><i class="fa fa-pencil"></i></a>
                    </h4>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque tempor aliquam felis, nec condimentum ipsum
                      commodo id.
                    </p>
                    <h4>
                      PHP developer
                      <a href="#" title=""><i class="fa fa-pencil"></i></a>
                    </h4>
                    <p class="no-margin">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque tempor aliquam felis, nec condimentum ipsum
                      commodo id. Vivamus sit amet augue nec urna efficitur
                      tincidunt. Vivamus consectetur aliquam lectus commodo
                      viverra.
                    </p>
                  </div>
                  <!--user-profile-ov end-->
                  <div class="user-profile-ov">
                    <h3>
                      <a href="#" title="" class="ed-box-open">Education</a>
                      <a href="#" title="" class="ed-box-open"
                        ><i class="fa fa-pencil"></i
                      ></a>
                      <a href="#" title=""><i class="fa fa-plus-square"></i></a>
                    </h3>
                    <h4>Master of Computer Science</h4>
                    <span>2015 - 2018</span>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      Quisque tempor aliquam felis, nec condimentum ipsum
                      commodo id. Vivamus sit amet augue nec urna efficitur
                      tincidunt. Vivamus consectetur aliquam lectus commodo
                      viverra.
                    </p>
                  </div>
                  <!--user-profile-ov end-->
                  <div class="user-profile-ov">
                    <h3>
                      <a href="#" title="" class="lct-box-open">Location</a>
                      <a href="#" title="" class="lct-box-open"
                        ><i class="fa fa-pencil"></i
                      ></a>
                      <a href="#" title=""><i class="fa fa-plus-square"></i></a>
                    </h3>
                    <h4>India</h4>
                    <p>151/4 BT Chownk, Delhi</p>
                  </div>
                  <!--user-profile-ov end-->
                  <div class="user-profile-ov">
                    <h3>
                      <a href="#" title="" class="skills-open">Skills</a>
                      <a href="#" title="" class="skills-open"
                        ><i class="fa fa-pencil"></i
                      ></a>
                      <a href="#"><i class="fa fa-plus-square"></i></a>
                    </h3>
                    <ul>
                      <li><a href="#" title="">HTML</a></li>
                      <li><a href="#" title="">PHP</a></li>
                      <li><a href="#" title="">CSS</a></li>
                      <li><a href="#" title="">Javascript</a></li>
                      <li><a href="#" title="">Wordpress</a></li>
                      <li><a href="#" title="">Photoshop</a></li>
                      <li><a href="#" title="">Illustrator</a></li>
                      <li><a href="#" title="">Corel Draw</a></li>
                    </ul>
                  </div>
                  <!--user-profile-ov end-->
                </div>
                <!--product-feed-tab end-->

                <!--product-feed-tab end-->
              </div>
              <!--main-ws-sec end-->
            </div>
          </div>
        </div>
        <!-- main-section-data end-->
      </div>
    </div>
  </main>
</div>

<p>profile works!</p>
