<div class="sign-in">
  <div class="wrapper">
    <div class="sign-in-page">
      <div class="signin-popup">
        <div class="signin-pop">
          <div class="row">
            <div class="col-lg-6">
              <div class="cmp-info">
                <div class="cm-logo">
                  <h1 class="h1 text-red">Jobs TecNM</h1>
                  <p>
                    Plataforma para encontrar las mejores ofertas de trabajo en
                    tu area.
                  </p>
                </div>
                <!--cm-logo end-->
                <img src="images/cm-main-img.png" alt="" />
              </div>
              <!--cmp-info end-->
            </div>
            <div class="col-lg-6">
              <div class="login-sec">
                <ul class="sign-control">
                  <li data-tab="tab-1" class="current">
                    <a href="#" title="">Iniciar Sesion</a>
                  </li>
                  <li data-tab="tab-2"><a href="#" title="">Registrarse</a></li>
                </ul>
                <div class="sign_in_sec current" id="tab-1">
                  <app-sign-in />
                </div>
                <!--sign_in_sec end-->
                <div class="sign_in_sec" id="tab-2">
                  <div class="signup-tab">
                    <i class="fa fa-long-arrow-left"></i>
                    <h2>Registrarse Como:</h2>
                    <ul>
                      <li data-tab="tab-3" class="current">
                        <a href="#" title="">Usuario</a>
                      </li>
                      <li data-tab="tab-4">
                        <a href="#" title="">Compañia</a>
                      </li>
                    </ul>
                  </div>
                  <!--signup-tab end-->
                  <div class="dff-tab current" id="tab-3">
                    <app-sign-up-user />
                  </div>
                  <!--dff-tab end-->
                  <div class="dff-tab" id="tab-4">
                    <app-sign-up-company />
                  </div>
                  <!--dff-tab end-->
                </div>
              </div>
              <!--login-sec end-->
            </div>
          </div>
        </div>
        <!--signin-pop end-->
      </div>
      <!--signin-popup end-->
    </div>
    <!--sign-in-page end-->
  </div>
</div>
