<app-header />
<main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
          <div class="col-lg-3 col-md-4 pd-left-none no-pd">
            <div class="main-left-sidebar no-margin">
              <div class="user-data full-width">
                <div class="user-profile">
                  <div class="username-dt">
                    <div class="usr-pic">
                      <img
                        src="{{
                          company?.imagen_perfil?.url ||
                            'http://via.placeholder.com/100x100'
                        }}"
                        alt=""
                        width="100"
                        height="100"
                      />
                    </div>
                  </div>
                  <!--username-dt end-->
                  <div class="user-specs">
                    <h3>{{ company["nombre_compañia"] }}</h3>
                    <span>{{ company.informacion }}</span>
                  </div>
                </div>
                <!--user-profile end-->
                <ul class="user-fw-status">
                  <li>
                    <h4>Siguiendo</h4>
                    <span>{{ company.seguidos }}</span>
                  </li>
                  <li>
                    <h4>Seguidores</h4>
                    <span>{{ company.seguidores }}</span>
                  </li>
                  <li>
                    <a [routerLink]="['/MyFeed/' + company.id]" title=""
                      >View Profile</a
                    >
                  </li>
                </ul>
              </div>
              <!--user-data end-->
              <div class="suggestions full-width">
                <div class="sd-title">
                  <h3>Suggestions</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <!--sd-title end-->
                <div class="suggestions-list">
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Poonam</h4>
                      <span>Wordpress Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Bill Gates</h4>
                      <span>C & C++ Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="view-more">
                    <a href="#" title="">View More</a>
                  </div>
                </div>
                <!--suggestions-list end-->
              </div>
              <!--suggestions end-->
            </div>
            <!--main-left-sidebar end-->
          </div>
          <div class="col-lg-6 col-md-8 no-pd">
            <div class="main-ws-sec">
              <div class="post-topbar">
                <div class="user-picy">
                  <img src="http://via.placeholder.com/100x100" alt="" />
                </div>
                <div class="post-st">
                  <ul>
                    <li>
                      <a
                        class="post-jb active"
                        (click)="showModal('post')"
                        title=""
                        >Post a Job</a
                      >
                    </li>
                  </ul>
                </div>
                <!--post-st end-->
              </div>
              <!--post-topbar end-->
              <div class="posts-section">
                <div
                  *ngFor="let companies of company.trabajos"
                  class="post-bar"
                >
                  <app-edit-modal
                    [company]="companies"
                    [titulo]="title"
                    (getCompany)="ngOnInit()"
                  />
                </div>
                <!--post-bar end-->

                <!--posty end-->
                <!-- <div class="process-comm">
                  <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                  </div>
                </div> -->
                <!--process-comm end-->
              </div>
              <!--posts-section end-->
            </div>
            <!--main-ws-sec end-->
          </div>
          <div class="col-lg-3 pd-right-none no-pd">
            <div class="right-sidebar">
              <div class="widget widget-jobs">
                <div class="sd-title">
                  <h3>Top Jobs</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="jobs-list">
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Product Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior UI / UX Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Junior Seo Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior PHP Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Developer Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                </div>
                <!--jobs-list end-->
              </div>
              <!--widget-jobs end-->
              <div class="widget widget-jobs">
                <div class="sd-title">
                  <h3>Most Viewed This Week</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <div class="jobs-list">
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior Product Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Senior UI / UX Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                  <div class="job-info">
                    <div class="job-details">
                      <h3>Junior Seo Designer</h3>
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing
                        elit..
                      </p>
                    </div>
                    <div class="hr-rate">
                      <span>$25/hr</span>
                    </div>
                  </div>
                  <!--job-info end-->
                </div>
                <!--jobs-list end-->
              </div>
              <!--widget-jobs end-->
              <div class="widget suggestions full-width">
                <div class="sd-title">
                  <h3>Most Viewed People</h3>
                  <i class="la la-ellipsis-v"></i>
                </div>
                <!--sd-title end-->
                <div class="suggestions-list">
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Poonam</h4>
                      <span>Wordpress Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Bill Gates</h4>
                      <span>C &amp; C++ Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>Jessica William</h4>
                      <span>Graphic Designer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="suggestion-usd">
                    <img src="http://via.placeholder.com/35x35" alt="" />
                    <div class="sgt-text">
                      <h4>John Doe</h4>
                      <span>PHP Developer</span>
                    </div>
                    <span><i class="la la-plus"></i></span>
                  </div>
                  <div class="view-more">
                    <a href="#" title="">View More</a>
                  </div>
                </div>
                <!--suggestions-list end-->
              </div>
            </div>
            <!--right-sidebar end-->
          </div>
        </div>
      </div>
      <!-- main-section-data end-->
    </div>
  </div>
</main>

<!--post-project-popup end-->

<div class="post-popup job_post" #post>
  <div class="post-project">
    <h3>Crear Trabajo</h3>
    <div class="post-project-fields">
      <form [formGroup]="form" (ngSubmit)="postJob()">
        <div class="row">
          <div class="col-lg-12">
            <input type="text" formControlName="titulo" placeholder="Titulo" />
          </div>
          <div class="col-lg-12">
            <div class="inp-field">
              <input
                type="text"
                formControlName="categoria"
                placeholder="Categoria"
              />
            </div>
          </div>
          <div class="col-lg-12">
            <input
              type="text"
              formControlName="habilidades"
              placeholder="Habilidades"
            />
          </div>
          <div class="col-lg-6">
            <div class="price-br">
              <input
                type="number"
                formControlName="salario"
                placeholder="Salario"
              />
              <i class="la la-dollar"></i>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="inp-field">
              <select formControlName="tiempo">
                <option>Tiempo Completo</option>
                <option>Medio Tiempo</option>
              </select>
            </div>
          </div>
          <div class="col-lg-12">
            <textarea
              formControlName="descripcion"
              placeholder="Descripcion"
            ></textarea>
          </div>
          <div class="col-lg-12">
            <ul>
              <li>
                <button class="active" type="submit" value="post">Post</button>
              </li>
              <li>
                <a (click)="closeModal('post')" title="">Cancel</a>
              </li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <!--post-project-fields end-->
    <a (click)="closeModal('post')" title=""
      ><i class="la la-times-circle-o"></i
    ></a>
  </div>
  <!--post-project end-->
</div>
<!--post-project-popup end-->
